.video__wrapper {
  background-color: #000;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.copy {
  margin: 4px;
  width: 95%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 6px;
  background-color: #eee;
}

.copy:hover {
  cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}